@import url('fontsgoogleapis.css');
::-webkit-scrollbar {
    width: 6px;
    
  }
  ::-webkit-scrollbar-thumb{
    background:linear-gradient(transparent, var(--skin-color));
    border-radius: 4px;
  }
  .style-switcher .style-switcher-toggler:hover, .day-night:hover{
    transform: scale(1.5);
    box-shadow: 0 2px 8px var(--skin-color);
}
/* Nav */
.namelogo{
    color: var(--text-black-900);
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Clicker Script', cursive;
    font-size:30px;
}    
.mainlogo
{
    margin-left: 70px;
    position: absolute;
    font-size: 30px;
    text-transform: capitalize;
}
.mainogo a
{
    font-weight: 700;
    padding: 15px 20px;
    font-size: 25px;
    letter-spacing: 5px;
    position: relative;
} 


.mainlogo a::before
{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
    bottom: 0;
    left:0;
}
.mainlogo a::after
{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
    top: 0;
    right: 0;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 265px;
    background: var(--bg-black-900); 
    z-index: 100;
    transition: all 0.5s ease;
  }
  .sidebar.close {
    width: 78px;
  }
  .sidebar .logo-details {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .sidebar .logo-details i {
    font-size: 30px;
    color: var(--text-black-900);
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
  }
  .sidebar .logo-details .logo_name {
    font-size: 22px;
    color: var(--text-black-900);
    font-weight: 600;
    transition: 0.3s ease;
    transition-delay: 0.1s;
  }
  .sidebar.close .logo-details .logo_name {
    transition-delay: 0s;
    opacity: 0;
    pointer-events: none;
  }
  .sidebar .nav-links {
    margin-top: 50%;
    height: 100%;
    padding: 0 0 150px 0;
    overflow: auto;
  }
  .sidebar.close .nav-links {
    overflow: visible;
  }
  .sidebar .nav-links::-webkit-scrollbar {
    display: none;
  }
  .sidebar .nav-links li {
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
  }
  .sidebar .nav-links li:hover {
    background: var(--skin-color);
    padding-left: 5px;
    padding-right: 5px;
    transform: scale(1.1);
  }
  .sidebar .nav-links li .icon-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar.close .nav-links li .icon-link {
    display: block;
  }
  .sidebar .nav-links li i {
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: var(--text-black-900);
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .sidebar .nav-links a:hover {
    color:#fff;
  }
  .sidebar .nav-links li.showMenu i.arrow {
    transform: rotate(-180deg);
  }
  .sidebar.close .nav-links i.arrow {
    display: none;
  }
  .sidebar .nav-links li a {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  .sidebar .nav-links li a .link_name {
    font-size: 18px;
    font-weight: 400;
    color: var(--text-black-900);
    transition: all 0.4s ease;
  }
  .sidebar .nav-links li a:hover {
    color: #fff;
   
  }
  .sidebar.close .nav-links li a .link_name {
    opacity: 0;
    pointer-events: none;
  }
  .sidebar .nav-links li .sub-menu {
    padding: 10px 50px 10px 50px;
    margin-top: -10px;
    background: var(--bg-black-50);
    display: none;
  }
  .sidebar .nav-links li.showMenu .sub-menu {
    display: block;
  }
  .sidebar .nav-links li .sub-menu a {
    color: var(--text-black-900);
    font-size: 15px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3s ease;
  }
  .sidebar .nav-links li .sub-menu a:hover {
    opacity: 1;
    color: #fff;
  }
  .sidebar.close .nav-links li .sub-menu {
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    opacity: 0;
    display: block;
    pointer-events: none;
    transition: 0s;
  }
  .sidebar.close .nav-links li:hover .sub-menu {
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
  }
  .sidebar .nav-links li .sub-menu .link_name {
    display: none;
  }
  .sidebar.close .nav-links li .sub-menu .link_name {
    font-size: 18px;
    opacity: 1;
    display: block;
  }
  .sidebar .nav-links li .sub-menu.blank {
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
    opacity: 0;
    pointer-events: none;
  }
  .sidebar .nav-links li:hover .sub-menu.blank {
    top: 50%;
    transform: translateY(-50%);
  }
  .sidebar .profile-details {
    position: fixed;
    bottom: 0;
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1d1b31;
    padding: 12px 0;
    transition: all 0.5s ease;
  }
  .sidebar.close .profile-details {
    background: none;
  }
  .sidebar.close .profile-details {
    width: 78px;
  }
  .sidebar .profile-details .profile-content {
    display: flex;
    align-items: center;
  }
  .sidebar .profile-details img {
    height: 52px;
    width: 52px;
    object-fit: cover;
    border-radius: 16px;
    margin: 0 14px 0 12px;
    background: #1d1b31;
    transition: all 0.5s ease;
  }
  .sidebar.close .profile-details img {
    padding: 10px;
  }
  .sidebar .profile-details .profile_name,
  .sidebar .profile-details .job {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
  }
  .sidebar.close .profile-details i,
  .sidebar.close .profile-details .profile_name,
  .sidebar.close .profile-details .job {
    display: none;
  }
  .sidebar .profile-details .job {
    font-size: 12px;
  }
  .home-section {
    position: relative;
    background: #e4e9f7;
    height: 100vh;
    left: 260px;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
  }
  .sidebar.close ~ .home-section {
    left: 78px;
    width: calc(100% - 78px);
  }
  .home-section .home-content {
    height: 60px;
    display: flex;
    align-items: center;
  }
  .home-section .home-content .bx-menu,
  .home-section .home-content .text {
    color: #11101d;
    font-size: 35px;
  }
  .home-section .home-content .bx-menu {
    margin: 0 15px;
    cursor: pointer;
  }
  .home-section .home-content .text {
    font-size: 26px;
    font-weight: 600;
  }
  @media (max-width: 420px) {
    .sidebar.close .nav-links li .sub-menu {
      display: none;
    }
  }
  /* Add your existing styles */

.nav-links a.active {
    background-color: var(--skin-color); /* Change this to whatever color you prefer */
    color: #fff;
}

/* Nav */
:root
{
    --bg-black-900:#f2f2fc;
    --bg-black-100:#fdf9ff;
    --bg-black-50:#e8dfec;
    --text-black-900:#302e4d;
    --text-black-800:#504e70;
    --img-before: rgba(255, 255, 255, 0.6);
    --bg-img: linear-gradient(to bottom, #fdf9ff 30%, #88D9FF, #24206C, #222 80%);
}
body.dark
{
    --bg-black-900:#151515;
    --bg-black-100:#222222;
    --bg-black-50:#393939;
    --text-black-900:#ffffff;
    --text-black-700:#e9e9e9;
    --img-before: rgba(0, 0, 0, 0.5);
    background: var(--bg-img) ;
    --bg-img: linear-gradient(to bottom, #222 80%, #24206C, #88D9FF, #fdf9ff 30%);
}
body{
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Poppins' sans-serif;
}
*
{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}
::before,::after
{
    box-sizing: border-box;
}
.nav ul
{
    list-style: none;
}
.section
{
    background-image: var(--bg-img);
    background-size: 100% 400%;
    background-position: 100% 0%;
    transition: all 2s;
    &.dark{
        background-position: 100% 100%;
        color: #fff;
      }
    min-height: 100vh;
    display : block;
    padding: 0 30px; 
    opacity: 1;
}
.main-content
{
    padding-left: 270px;
    background: var(--bg-black-100);
}
.hidden
{
    display: none !important;
}
.padd-15
{
    padding-left: 15px;
    padding-right: 15px;
}
.container
{
    max-width: 1200px;
    width: 100%;
    margin: auto;
}
.section .container
{
    padding-top: 60px;
    padding-bottom: 70px;
}
.section-title
{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
}
.section-title h2
{
    font-size: 40px;
    color: var(--text-black-900);
    font-weight: 700;
    position: relative;
}
.section-title h2::before
{
    content: '';
    height: 4px;
    width: 50px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
}
.section-title h2::after
{
    content: '';
    height: 4px;
    width: 25px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
}
.row
{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}
.btn
{
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    color: white;
    border: none;
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    background: var(--skin-color);
    transition: all 0.3s ease;
}
.btn:hover
{
    transform: scale(1.15);
    box-shadow: 0 2px 3px var(--text-black-700);
}
.shadow-dark
{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
/* aside*/
.aside
{
    width: 270px;
    background: var(--bg-black-100);
    position: fixed;
    padding: 30px;
    left: 0;
    top: 0;
    padding: 30px;
    height: 100%;
    border-right: 1px solid var(--bg-black-50);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.aside .logo
{
    position: absolute;
    top: 50px;
    font-size: 30px;
    text-transform: capitalize;
}
.aside .logo a
{
    color:var(--text-black-900);
    font-weight: 700;
    padding: 15px 20px;
    font-size: 25px;
    letter-spacing: 5px;
    position: relative;
}
.aside .logo a span
{
    font-family: 'Clicker Script', cursive;
    font-size:40px;
}
.aside .logo a::before
{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
    bottom: 0;
    left:0;
}
.aside .logo a::after
{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
    top: 0;
    right: 0;
}
.aside .nav-toggler
{
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 20px;
    border-radius: 5px;
    background: var(--bg-black-100);
    display: none;
    align-items: center;
    justify-content: center;
}
.aside .nav-toggler span
{
    height: 2px; 
    width: 18px;
    background: var(--skin-color);
    display: inline-block;
    position: relative;
}
.aside .nav-toggler span::before
{
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: -6px;
    left: 0px;
}
.aside .nav-toggler span::after
{
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: 6px;
    left: 0px;
}
.aside .nav
{
    margin-top: 50px;
}
.aside .nav li
{
    margin-bottom: 20px;
    display: block;
}
.aside .nav li a
{
    font-size: 16px;
    font-weight: 600px;
    display: block;
    border-bottom: 1px solid var(--bg-black-50);
    color: var(--text-black-900);
    padding: 5px 15px;
}
.aside .nav a:hover,
a:active 
{
    color: var(--skin-color);
}
.aside .nav li a i
{
    margin-right: 15px;
}

/* home */
.home
{
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900);
}
.home .home-info 
{
    flex: 0 0 60%;
    max-width: 40%;
}
h3.hello
{
    font-size: 28px;
    margin: 15px 0;
}
h3.hello span
{
    font-family: 'Clicker Script', cursive;
    font-size: 30px;
    font-weight: 700;
    color: var(--skin-color);
}
h3.my-profession
{
    font-size: 30px;
    margin: 15px 0;
    height: 65px;
}
.typing
{
    color: var(--skin-color);
}
.home-info p
{
    margin-bottom: 55px;
    font-size: 20px;
    color: var(--text-black-700);
}
.home .home-img
{
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
    position: relative;
}
.home-img::after
{
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    border-bottom: 10px solid var(--skin-color);
    border-right: 10px solid var(--skin-color);
    right: 20px;
    bottom: -40px;
}
.home-img::before
{
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    border-top: 10px solid var(--skin-color);
    border-left: 10px solid var(--skin-color);
    left: 20px;
    top: -40px;
}
.home .home-img img
{
    margin: auto;
    border-radius: 5px;
    height: 400px;
}

/* About*/



.about .about-content
{
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-content .about-text
{
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-content .about-text h3
{
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: var(--text-black-900);
}
.about .about-content .about-text h3 span
{
    color: var(--skin-color);
}
.about .about-content .about-text p
{
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
}
.about .about-content .personal-info
{
    flex: 0 0 60%;
    max-width: 60%;
    margin-top: 40px;
}
.about .about-content .personal-info .info-item
{
    flex: 0 0 50%;
    max-width: 50%;
}
.about .about-content .personal-info .info-item p
{
    font-weight: 600;
    padding: 10px 0; 
    font-size: 16px;
    color: var(--text-black-900);
    border-bottom: 1px solid var(--bg-black-50);
}
.about .about-content .personal-info .info-item p span
{
    font-weight: 400;
    color: var(--text-black-700);
    margin-left: 4px;
    display: inline-block;
}
.about .about-content .personal-info .buttons
{
    margin-top: 30px;
}
.about .about-content .personal-info .buttons .btn
{
    margin-right: 15px;
    margin-top: 10px ;
}
.about .about-content .skills
{
    flex: 0 0 40%;
    max-width: 40%;
    margin-top: 40px;
}
.about .about-content .skills .skill-item
{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 25px;
}
.about .about-content .skills .skill-item h5
{
    line-height: 40px;
    font-weight: 600;
    font-size: 16px;
    color: var(--text-black-900);
    text-transform: capitalize;
}
.about .about-content .skills .skill-item .progress
{
    background-color: var(--bg-black-50);
    height: 7px;
    border-radius: 4px;
    width: 100%;
    position: relative;
}
.about .about-content .skills .skill-item .progress .progress-in
{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 4px;
    background-color: var(--skin-color);
}
.about .about-content .skills .skill-item .skill-percent
{
    position: absolute;
    right: 0;
    color: var(--text-black-900);
    top: -40px;
    font-weight: 400;
    line-height: 40px;
}
.about .about-content .education,
.about .about-content .experience
{
    max-height: 500px;
    overflow-y: auto;
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 30px;
}
.about .about-content h3.title
{
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 700;
    color: var(--text-black-900);
}
.about .about-content .timeline-box
{
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-content .timeline
{
    background-color: var(--bg-black-100);
    padding: 30px 15px;
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    width: 100%;
    position: relative;
}
.timeline {
    padding: 15px;
    max-height: 275px; /* Set height limit */
    overflow-y: auto;  /* Enable vertical scrollbar if content overflows */
}

/* Optional: Style scrollbar */
.timeline::-webkit-scrollbar {
    width: 6px; /* Scrollbar width */
}
.about .about-content .timeline .timeline-item
{
    position: relative;
    padding-left: 37px;
    padding-bottom: 40px;
}
.about .about-content .timeline .timeline-item:last-child
{
    padding-bottom: 0;
}

.about .about-content .timeline .timeline-item::before
{
    content: '';
    width: 1px;
    position: absolute;
    height: 100%;
    left: 7px;
    top: 0;
    background-color: var(--skin-color);
}
.about .about-content .timeline .circle-dot
{
    position: absolute;
    left: 0;
    top: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--skin-color);
}
.about .about-content .timeline .timeline-date
{
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 12px;
    color: var(--text-black-700);
}
.about .about-content .timeline .timeline-date .fa, .about .about-content .timeline .timeline-date .fab
{
    margin-right: 5px;
}
.about .about-content .timeline .timeline-title
{
    font-weight: 700;
    font-size: 18px;
    margin-right: 15px;
    text-transform: capitalize;
    color: var(--text-black-900);
}
.about .about-content .timeline .timeline-text
{
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
    color: var(--text-black-700);
}
.about .about-content .timeline .timeline-textul
{
    margin-top: 10px;
    margin-left: 20px;
    padding-right: 50px;
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
    color: var(--text-black-700);
}
/* Journey */
.journey .journey-content
{
    flex: 0 0 100%;
    max-width: 100%;
}
.journey .journey-content .journey-text
{
    flex: 0 0 100%;
    max-width: 100%;
}
.journey .journey-content .journey-text h3
{
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: var(--text-black-900);
}
.journey .journey-content .journey-text h3 span
{
    color: var(--skin-color);
}
.journey .journey-content .journey-text p
{
    font-size: 16px;
    line-height: 25px;
}
.journey .journey-content .education,
.journey .journey-content .experience
{
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 30px;
}
.journey .journey-content h3.title
{
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 700;
    color: var(--text-black-900);
}
.journey .journey-content .timeline-box
{
    flex: 0 0 100%;
    max-width: 100%;
}
.journey .journey-content .timeline
{
    background-color: var(--bg-black-100);
    padding: 30px 15px;
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    width: 100%;
    position: relative;
}
.journey .journey-content .timeline .timeline-item
{
    position: relative;
    padding-left: 37px;
    padding-bottom: 40px;
}
.journey .journey-content .timeline .timeline-item:last-child
{
    padding-bottom: 0;
}
.journey .journey-content .timeline .timeline-item::before
{
    content: '';
    width: 1px;
    position: absolute;
    height: 100%;
    left: 7px;
    top: 0;
    background-color: var(--skin-color);
}
.journey .journey-content .timeline .circle-dot
{
    position: absolute;
    left: 0;
    top: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--skin-color);
}
.journey .journey-content .timeline .timeline-date
{
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 12px;
    color: var(--text-black-700);
}
.journey .journey-content .timeline .timeline-date .fa, .journey .journey-content .timeline .timeline-date .fab
{
    margin-right: 5px;
}
.journey .journey-content .timeline .timeline-title
{
    font-weight: 700;
    font-size: 18px;
    margin-right: 15px;
    text-transform: capitalize;
    color: var(--text-black-900);
}
.journey .journey-content .timeline .timeline-text
{
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
    color: var(--text-black-700);
}
.journey .journey-content .timeline .timeline-textul
{
    margin-top: 10px;
    margin-left: 20px;
    padding-right: 50px;
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
    color: var(--text-black-700);
}   
/* Journey */
/* service */
.service .container
{
    padding-bottom: 30px;
}
.service .service-item
{
    margin-bottom: 30px;
    flex: 0 0 33.33%;
    max-width: 33.33%;
}
.service .service-item .service-item-inner
{
    background-color: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    padding: 30px 15px;
    text-align: center;
    transition: all 0.35 ease;
}
.service .service-item .service-item-inner:hover
{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
.service .service-item .service-item-inner .icon
{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 30px;
    text-align: center;
}
.service .service-item .service-item-inner .icon .fa ,.service .service-item .service-item-inner .icon .fa .fab
{
    font-size: 40px;
    line-height: 60px;
    color: var(--skin-color);
}
.service .service-item .service-item-inner:hover .icon
{
    background-color: var(--skin-color);
}
.service .service-item .service-item-inner:hover .icon .fa, .service .service-item .service-item-inner:hover .icon .fab  
{
    font-size: 25px;
    color: #ffffff;
}
.service .service-item .service-item-inner h4{
    font-size: 18px;
    margin-bottom: 15px;
    color: var(--text-black-900);
    font-weight: 700;
    text-transform: capitalize;
}
.service .service-item .service-item-inner p
{
    font-size: 16px;
    color: var(--text-black-700 );
    line-height: 25px;
}
/* portfolio */
.portfolio .portfolio-heading
{
    flex: 0 0 100%;
    max-width: 500;
    margin-bottom: 40px;
}
.portfolio .portfolio-heading h2
{
    color: var(--text-black-900);
    font-weight: 500;
}
.portfolio .portfolio-item
{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-bottom: 30px;
}
.portfolio .portfolio-item-inner
{
    border : 6px solid var(--bg-black-100);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}
.portfolio .portfolio-item-inner .portfolio-img img
{
    width: 100%;
    display: block;
    height: 225px;
}
/* Contact */
.contact-title
{
    color: var(--skin-color);
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}
.contact-sub-title
{
    color: var(--text-black-900);
    text-align: center;
    font-size: 15px;
    margin-bottom: 60px;
}
.contact .contact-info-item
{
    flex: 0 0 25%;
    max-width: 25%;
    text-align: center;
    margin-bottom: 60px;
}
.contact .contact-info-item .icon
{
    display: inline-block;
}
.contact .contact-info-item .icon .fa, .contact .contact-info-item .icon .fab
{
    font-size: 25px;
    color: var(--skin-color);
}
#github
{
    color: var(--skin-color);
    font-size: 28px;
}
.contact .contact-info-item h4
{
    font-size: 18px;
    font-weight: 700;
    color: var(--text-black-900);
    text-transform: capitalize;
    margin: 15px 0 5px;
}
.contact .contact-info-item p
{
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
    font-weight: 400;
}
.contact .contact-form
{
    flex: 0 0 100%;
    max-width: 100%;
}
.contact .contact-form .col-6
{
    flex: 0 0 50%;
    max-width: 50%;
}
.contact .contact-form .col-12
{
    flex: 0 0 100%;
    max-width: 100%;
}
.contact .contact-form .form-item
{
    margin-bottom: 30px;
}
.contact .contact-form .form-item .form-control
{
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    padding: 10px 25px;
    font-size: 16px;
    color: var(--text-black-700);
    transition: all 0.3 ease;
}
.contact .contact-form .form-item .form-control:focus
{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
.contact .contact-form .form-item textarea.form-control
{
    height: 140px;
}
.contact .contact-form .btn
{
    height: 50px;
    padding: 0 50px;
}
@media (max-width:1379px)
{
    .aside
    {
        left: -270px;
    }
    .main-content
    {
        padding-left: 60px;
    }
    .about .about-content .personal-info .info-item p span
    {
        display: block;
        margin-left: 0;
    }
}
@media (max-width:1066px)
{
    .contact .contact-info-item,
    .portfolio .portfolio-item,
    .service .service-item
    {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .home .home-info
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .home .home-info
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .home .home-img
    {
        display: none;
    }
    .home {
        width: 100%;
        height: 100vh;
        background: rgba(255, 255, 255, 0.6)url("../img/bg.webp") top center no-repeat;
        background-size: cover;
        position: relative;
        overflow: hidden;
      }
    .home::before
    {
        content: "";
    background: var(--img-before);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    }

      

}
@media (max-width: 767px)
{
    .contact .contact-form .col-6,
    .contact .contact-info-item,
    .portfolio .portfolio-item,
    .service .service-item,
    .about .about-content .skills, 
    .about .about-content .personal-info,
    .journey .journey-content .education,
    .journey .journey-content .experience
    {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .timeline::-webkit-scrollbar {
        width: 3px; /* Scrollbar width */
    }
    
}